
body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  margin: 0 auto;
  background-color: #4294c6
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  text-align: center;
}

a {
  color: #8bbeb5;
  text-decoration: none;
}

header, main, footer {
    background-color: #2c275f;
    color: #fcf2e9;
    padding: 16px
}

h1 {
    color: #f6c396
}
