baseURL = "https://cynumini.neocities.org/"
languageCode = "en-us"
title = "Cynu Mini's site"
theme = "cm"

[[menus.main]]
name = 'Home'
pageRef = '/'
weight = 10

[[menus.main]]
name = 'Posts'
pageRef = '/posts'
weight = 20

[[menus.main]]
name = 'To-do'
pageRef = '/todo'
weight = 40

[[menus.main]]
name = 'Tags'
pageRef = '/tags'
weight = 30

