:root {
  --background: #1a1b26;
  --foreground: #a9b1d6;
  --border: #bb9af7;
  --link: #2ac3de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 32px auto;
  max-width: 768px;
  border: 2px solid var(--border);
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

header {
  border-bottom: 2px solid var(--border);
  margin: 0;
}

header h1 {
  margin: 0;
  padding: 16px 0;
  text-align: center;
  border-bottom: 2px solid var(--border);
}

footer {
  border-top: 2px solid var(--border);
  text-align: center;
  padding: 32px;
}

a {
  color: #00e;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  flex: 1;
  padding: 16px;
  border-right: 2px solid var(--border);
  text-align: center;
}

nav ul li:last-child {
  border-right: 0;
}

main {
  padding: 32px;
}

main h1,
h2,
p,
ul {
  padding-bottom: 8px;
}

ul ul {
  padding-bottom: 0px;
}

p:last-child {
  padding-bottom: 0px;
}

a {
  color: var(--link);
}

main ul {
  margin-left: 16px;
}
