:root {
  --background: #1a1b26;
  --foreground: #a9b1d6;
  --border: #bb9af7;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 32px auto;
  max-width: 768px;
  border: 2px solid var(--border);
  box-sizing: border-box;

  font-family: sans-serif;
  line-height: 1.5;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--border);
}

header h1 {
  margin: 0;
  padding: 16px 0;
  text-align: center;
  border-bottom: 2px solid var(--border);
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  flex: 1;
  padding: 16px;
  border-right: 2px solid var(--border);
  text-align: center;
}

nav ul li:last-child {
  border-right: 0;
  /*border-left: 2px solid var(--border);*/
}
